/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  background-image: url(../assets/background2.jpg);
  color: #495057;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
}

.navbar {
  background-color: #343a40;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.8rem;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.container {
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

.list-group-item {
  border: none;
  background-color: #ffffff;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.list-group-item .btn-group {
  margin-left: auto;
}

.btn {
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #495057;
  border-color: #495057;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #343a40;
}

.btn-warning:hover {
  background-color: #d39e00;
  border-color: #d39e00;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}

.btn-danger:hover {
  background-color: #bb2d3b;
  border-color: #bb2d3b;
}
.product-image-container {
  max-width: 100%;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Modal styles */
.modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #343a40;
  color: #ffffff;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-title {
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  border-top: 1px solid #dee2e6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}

/* Add your own custom styles below */
